iesm/_build/*
.ipynb_checkpoints
.DS_Store
__pycache__/
iesm/Exercises/*.clean
iesm/Exercises/Ex*/*.clean
iesm/Exercises/*.intco
iesm/Exercises/Ex*/*.intco
iesm/Exercises/*.log
iesm/Exercises/Ex*/*.log
iesm/Exercises/*.hess
iesm/Exercises/Ex*/*.hess
iesm/Exercises/*.molden_normal_modes
iesm/Exercises/Ex*/*.molden_normal_modes
iesm/Exercises/*.vibrec
iesm/Exercises/Ex*/*.vibrec


