name: build-book

# Only run this when the master branch changes
on:
  push:
    branches:
    - deploy
    - main

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  deploy-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - name: Set up Python 3.10.18
      uses: actions/setup-python@v1
      with:
        python-version: 3.10.18

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Build templates
      run: |
        python .publish/extract_exercise.py
    - name: convert md to slides
      run: |
        docker run -v $(pwd):/data --user $(id -u):$(id -g) pandoc/latex:2.9 sh -c 'while read f; do pandoc -t beamer /data/iesm/Exercises/"$f" -H /data/.publish/template.tex -o "/data/iesm/Exercises/${f%}.pdf"; done< iesm/slides.txt'
    # Build the book
    - name: Build the book
      run: |
        jupyter-book build iesm
    - name: Move templates to publish dir
      run: |
        mv templates iesm/_build/html
    - name: Move slides to publish dir
      run: | 
        while read f; do mv "./iesm/Exercises/${f%}.pdf" "./iesm/_build/html/Exercises/${f%}.pdf"; done< ./iesm/slides.txt
    # Push the book's HTML to github-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3.6.1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./iesm/_build/html
